<section id="main">

		<% @videos.each do |video| %>
		<article class="post videos">
		
		<div class="row">
		<div class="span4">
			<div class="video-container">
				<%= video.embed.html_safe %>
			</div>
		</div>
		<div class="span5">
			<header>
				<h3 class="heading"><%= video.title %></a><span class="header-hrule"></span></h3>
			</header>
			<%= simple_format(video.description)  %>
			
		</div>
		</div>
		</article>
		
		<% end %>
				
				

</section>


