<section id="main">
	<div class="row">
		<div class="span5">
			<article class="post videos">
				<p class="lead">Videos coming soon!  In the meantime,<br>check out Steve&apos;s <a href="https://vimeo.com/channels/582160" target="_blank">Vimeo</a> and <a href="http://www.youtube.com/playlist?list=PLZ0xdRYIDh18qmpYLvorluY5mbIrlctr0" target="_blank">Youtube</a> pages.</p>
				<ul id="video_links" class="unstyled inline social">
				<li class="vimeo"><a href="https://vimeo.com/channels/582160" target="_blank">Vimeo</a></li>
				<li class="youtube"><a href="http://www.youtube.com/playlist?list=PLZ0xdRYIDh18qmpYLvorluY5mbIrlctr0" target="_blank">YouTube</a></li>
				</ul>
			</article>
		</div>
	</div>
		
		
</section>


