<section id="main">

			<article id="bio">

				<div class="row">

					<div class="col-md-5">

						<img src="/assets/steve_lehman_2.jpg" class="img-responsive"/>

					</div>

					<div class="col-md-7">
						<div class="right-pad">
							<%= simple_format(@content)%>
						</div>
					</div>
				</div>

			</article>

</section>
