
<section id="main">
	<div class="row">
		<div class="col-md-6">
			<h3>Worldwide Inquiries</h3>
			<p class="lead">Chris Mees<br />
			B Natural Management<br />
			<a href="http://www.bnatural.nyc">www.bnatural.nyc</a><br />
			<a href="mailto:chris@bnatural.nyc">chris@bnatural.nyc</a><br />
			Tel: +1-346-897-8705<br />
			</p>
			<hr>
			<h3>Score Requests</h3>
			<p class="lead">A selection of Steve Lehman's scores are available for purchase through <a style="white-space:nowrap" href="http://www.pirecordings.com/scores/" target="_blank">Pi Recordings</a>.</p>
		</div>
		<div class="col-md-6">
			<h3>Send a Message</h3>
			<form id="message_form" class="" action="/emails/message" method="post">
				<fieldset>
					<input name="email" id="message-email-address" type="text" placeholder="Your email address" class='form-control'>
					<textarea name="message" rows="8" cols="40" class="block form-control" placeholder="Send a message."></textarea>
					<button type="submit" class="">Send</button>
					<% flash.each do |name, msg| -%>
					      <%= content_tag :div, msg, class: name %>
					<% end -%>
					<div class="instructions">
						<p>Please enter your email address and an accompanying message if you wish to contact Steve Lehman directly regarding private lessons, and all other inquiries not related to bookings and score purchases.</p>
						<p>If you wish to join Steve's mailing list, enter your email address in the text field to the right and click the &ldquo;submit&rdquo; button.</p>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>
