
<section id="main">
	<div class="row">
		<div class="span5">
			<h3>European Booking Inquiries for the Steve Lehman Trio</h3>
			<p class="lead">Mauri Estruga<br />
			Estruga Artists<br />
			Copernic, 43 – Barcelona 08021<br />
			<a href="http://www.estrugamng.com" target="_blank">www.estrugamng.com</a><br />
			<a href="mailto:mauri@estrugamng.com">mauri@estrugamng.com</a><br />
			Tel: +34 610 947 622<br />
			</p>
			<h3>European Booking Inquiries for the Steve Lehman Octet</h3>
			<p class="lead">Lalo Lofoco<br />
			Akamu Music Productions<br />
			<a href="http://www.akamu.net" target="_blank">www.akamu.net</a><br />
			<a href="mailto:alberto@akamu.net">alberto@akamu.net</a><br />
			Tel: +39 320 822 81 21
			</p>
			<h3>US Booking Inquiries for the Steve Lehman Trio &amp; Octet</h3>
			<p class="lead">Joel Chriss<br />
			J. Chriss &amp; Company
			<a href="http://www.jchriss.com" target="_blank">www.jchriss.com</a><br />
			<a href="mailto:jchriss@aol.com">jchriss@aol.com</a><br />
			Tel: 212-353-0855
			</p>
			<hr>
			<h3>Score Requests</h3>
			<p class="lead">A selection of Steve Lehman's scores are available for purchase through <a style="white-space:nowrap" href="http://www.pirecordings.com/scores/" target="_blank">Pi Recordings</a>.</p>
		</div>
		<div class="span3">
			<h3>Send a Message</h3>
			<form id="message_form" class="" action="/emails/message" method="post">
				<fieldset>
					<input name="email" id="message-email-address" type="text" placeholder="Your email address">
					<textarea name="message" rows="8" cols="40" class="span4" placeholder="Send a message."></textarea>
					<button type="submit" class="">Send</button>
					<% flash.each do |name, msg| -%>
					      <%= content_tag :div, msg, class: name %>
					<% end -%>
					<div class="instructions">
						<p>Please enter your email address and an accompanying message if you wish to contact Steve Lehman directly regarding private lessons, and all other inquiries not related to bookings and score purchases.</p>
						<p>If you wish to join Steve's mailing list, enter your email address in the text field to the right and click the &ldquo;submit&rdquo; button.</p>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>
