<h2>Full Lyrics for Sélébéyone</h2>
<h3>1. LAAMB</h3>

1. Introduction:

Waw parce que kham nga mbeur mou nék dafa am thiossane

[Yes, because every wrestler has traditions]

Teh si biir waye yoyou, et, moy tah nga kham sa thiossane,

[And from those songs, you will know your traditions]

Gnou wayal la sa ndiambar

[They will sing of your bravery]

Ba takh na so nekkon ben, fouk ngay don

[And it will boost your energy from one to ten]

1. HPrizm:

As times change

My mind frame elevates

Faster

Self-law and mastery is my aim

My destiny’s imminent

Every angle I enter from’s forming a pyramid

For the here and now

Jewels I find

Under three-fourths water

From flooded streets I was brought up

Now in this era facing the ramifications

Of blocks to the occupation

As bars over propaganda

They criminalize the victim

Then the truth sets in

Contrasted drastically faces, casted from plastic

Smile back wickedly

No mask on

Readjusting back happily

Rapidly after tragedy

Casually

Now the mask is off, the masquerade is over

Now the mask is off, the masquerade is over

And now the mask is off, the masquerade is over

Now the mask is off, the masquerade is over

1. Gaston Bandimic:

Gnou ngui diéma tékk tekk

[They are trying to trip me]

Mister intec lekk lekk

[Mister intellectual]

Firi séni bekk bekk

[Translating little by little]

Deum beug ma lekk lekk

[The mystic wants to kill me]

Téwal foma fekk fekk

[Represent where you found me]

Dan gay goungé rek, fog nga yeug sogua nekk nekk

[You can only accompany, you need to feel to be real]

Kourouss, sikar, khassida si kar

[Rosary, dhikr, and khasidas in a bag]

Illa darou leu never dou nou likeur

[We’ll never drink liquor]

Khatir dimbalima

[Spiritual philosopher let me be]

Kafir doumalima

[I am not a non-believer]

Nafsoma tek shoc def bloc singalima

[But desire is tempting me]

Mana, mana , mana, dima teug tama

[It’s me. Me. Me, getting on myself]

Ouk Laye tek tiyatar douma Lama

[Truly putting on a play, I am not the actor; Lama]

Bay si game bi la, soukh si gnam bi la

[Being the Father is the way you play it; flesh is part of the meat]

Si kanam ladieum ndakh kamilam bi leu

[It is all going forward because it’s his holy book]

<h3>2. ARE YOU IN PEACE?</h3>

2. HPrizm:

I’m independent but augmented by being in it

Stayed ill, never intended on blending in

Depend and the pen still spraying an aerosol

You hear a call over the landscape

Vocally you feelin’ my hands move

Somethin’ like lettin’ the can spray

Left hand’s holding my sun up

Right hand putting the skyline at night time

Painting in works in outlines to build

 

To wake us up

It took fire water and thunder to break the spell

Magnetic memory over me

As a force field to cover me

The heel in the cut recovery

Mirrors to reflect another me

Puttin’ in work from a chain but it changed things

Let’s build

2. Gaston Bandimic:

Bandimic’s in the place to be

[Bandimic’s in the place to be]

Ki lay oubi

[Who’s teaching you from the start?]

Bayil neubeutoubi

[Stop hiding]

Guén lén sén gokh yi

[Get out of your hood]

Dokh dokh yii

[Walk the walk]

Fokk gnou takhaw sur scène di gondek sen mokh yii

[We need to be on the stage showing off with clothes]

Djangui watal, yonou Rabbi lagnouy natal

[Think again, we’re flourishing as God intended]

Wédi watal, guéw real yi gno koy yatal

[Deny, swear, the real ones make the stage]

Djoguel si mbédd mi, nga madj yottou tédd bii,

[Get out of the street, walk towards it]

Yémale nadj ak sédd bii, domasa dégg guédd bii

[Hot or cold, it’s the same, you’ll never hear “give up”]

Sama rak bama rék, sama sacc dafa diakk

[Leave me alone, my knowledge of self is right]

Beügg dé tey nga wékkhou

[You want to die, today you’ll struggle]

Tey di nga dieul coup,

[Today you will take a hit]

Sopi mic bi courou baye fall khathiou di mbeukkou

[Change the mic to a Baye Fall’s stick struggle and head bump]

Goney doukko teukkou

[Too young to dare]

Rim yii gno takkou

[Lyrics are on fire]

Ha, Hou , Ha ni Shaolin ak rim thiakou

[Ha, hou ha like Shaolin with nunchaku]

Dolenté lakkou

[Beside the showdown]

Thi Diggou gew may bakkou

[I praise myself in the middle of the crowd[

Ganaw mic bi ni khelcom boy ndig ley takkou

[Like Khelcom, behind the mic, I’ll work]

Ndikhma rek, khidima rek, si li nga ma fékk, nga ma fékk

[Just keep working, stay away from me, you found me like this]

Yéwou rek merer gnieup, tey cé la haine

[Wake up mad at everybody, today is hate]

Nou mou démer boumaco ladj, c’est même pas la peine

[Don’t ask me what it is, not worth it]

Tey dou peace, djkko ibliss

[No peace today, it’s evil’s habit]

Digg bi lay diar ndakh bougouma la fène

[Straight up, because I don’t want to lie]

Deum yéma diri si nélaw beugeuma tong-tong

[The mystics dragged me off of my sleep, they want to kill me]

Ki len djiter ndjol sa kaw méléwo King Kong, dii lakk hing-hong

[Their leader is tall, he looks like King Kong, he speaks in Hing Hong]

Téréma sing song

[Stopping me from singing that song]

Meuné beürét si nélaw dégg bount bouy ding-dong

[I woke up with and hear the door bell ring]

Ma yéwou diomi togue, dimbalima bokk

[I woke up surprised, let me be]

Tallou ma kaff, bama ma yabi lima log

[I don’t have time to play, let me spit what’s in my mouth]

Yéwou diomi mi togue, dimbali ma bokk,

[I woke up surprised, let me be]

Tallou ma kaff, bama ma yabbi li ma log

[I don’t have time to play, let me spit what’s in my mouth]

Tey dou peace tey dou love, tey guerre la

[There is no peace and no love today, only war]

Loffi guiss dou yeuffou dof tey mer le

[What you see is not insanity, but madness]

Tey dou peace tey dou love, tey guerre la

[There is neither peace nor love today, only war]

Loffi guiss dou yeuffou peace

[What you see is not peace]

<h3>3. AKAP</h3>

3. Gaston Bandimic:

Yo

[Yo]

Gnata att yéna ngui si guéj gui di ko diéma lakh

[How long you’ve been in the sea trying to make it cream]

Singali embuscade di sani khér téréwoul manifi fakh

[Placing an ambush, hating on me, but I ‘m still standing]

Rap gueuneu fi di rah, saab gueuneu withiakh

[Rap is still on, voices will still rise]

Mbotayou fass you mabb yéna ngui beurti beurti, bouki beutou bandit sakh thi thiéné wakh

[The flock of horses is racing, the hyena, evil eye, is talking]

Dama ayy bamou eupp, bone khol yi fokk gnou sissou

[I am too good at this, the haters will hate]

Sen baye bouné thieup, sen khélou yemay rissou

[When I am in there, I feel your dirty looks on me]

Li ngay diaye dina neup, mbokkou talibé dou fissou

[What you are selling is going to waste, brother don’t be a follower]

Änd dokh si Yallala

[Walking together is His will]

Souffé ni batou

[Low like]

Sougnouy laaf séni kharfa mounouko khouffa

[You can do anything to hurt us]

Souffa dougnou fa oufa

[We’re not taking ourselves down]

Touffa dougnou ko toppé douffa

[Size doesn’t matter]

Guët sou metey deskoy touffeu

[When eyes hurt they need water]

Nappkatou diane bé ngui djéma galgal niaye bi

[The snake hunter is trying to catch the elephant]

Seud beuga kharou, guénn guedj djoubali niayes bi

[The barracuda fish wants suicide, leaving the sea for the forest]

Nda li nga naan demb, tey ya fi dionkon sawfa poup fa

[Where you used to get water, you are making human waste]

Gueweul bou rep si kharé la

[I don’t care about anything anymore]

Si batou ndaré la

[It’s only a knife on a chicken’s throat]

Bo dougaler sa tank si gemiñou yew li la war paré la

[When you step in the mouth of an anaconda, you better be ready]

<h3>4. ORIGINE</h3>

4. HPrizm:

Within space, within time

Without space, without time

First we extend the lens to zoom in on

Seeing new positions beginning from right now

Patterns mean seeing the system break down

My seeds came weighing the same as a four pound

To raise them, not changed in, I gave them

Tools to read constellations

Their origin

Without space, without time

Their origin

4. Gaston Bandimic:

Thiossane dou khétt, tambali balla

[Tradition is not ethnic, but from the beginning]

Fekhelba sétt lila outalel malla

[Know what differentiates you from the animal]

Goudi djeng la, gueleum rer tella

[Darkness refraining you, confusion is ignorance]

Demba waral tey, souba mom gestuleu

[Today is because of yesterday, tomorrow is pure, the search]

Kham nga louy ndono gnom mam?

[Do you know what your heritage from the ancestors is?]

Moy kham kham guy sellal sa kham

[It’s the knowledge that purifies the expertise]

Diogal nga gëstuko, demal nga khosluko

[Get up and find it, go and fight for it]

Diott nga ko, nekk nga djam

[You have it, you are at its service]

Déllo na lépp si lén

[Everything becomes nothing]

Dawla keppo si rén

[Last year becomes the next]

Khollou si kén

[Paying no mind]

Té nebou si lén

[Not hiding a thing]

Lou tambali wägn dou ben

[Counting doesn’t start at one]

Kuntou keunzeul, zéro bi ngandal khadioul si bopou nén

[Before anything, a big zero can’t fit in an empty head]

<h3>5. COGNITION</h3>

5. HPrizm:

Some may never see it

But I’m standing in it

Something in the structure helps me hear the

Double over interference

When I’m in the state of mind to make a movie

It’s a motion picture

First I fix the lens

Quiet on the set

My team is winning

We’re up

This is heaven sent

This one is all us

All black we carry the pass and the casket

To the next level, we’re movin, then zoomin’ on

This

Hesitation, step across and

Like Iverson to the next dimension

Had to pivot

Punctuated the spaces with this

Freeze the frame, change the game

Freeze the frame, change the game

5. Gaston Bandimic:

Khol bi Yathiné, talata diap ba altiné

[You are in my heart, all week long]

Télépathie mom dafa batiné

[Telepathy is spiritual]

Yëg si kaw rek yëg lay wesiner

[Held in high regard]

Dagnou cotton, porcelaine, fragile ni door si wéén

[Cotton, China, fragile like a hit to the chest]

Fog nga doux, beugo gnou brute,

[You need to be gentle; you don’t want them tough]

Rawatina nga forcélen

[Particularly when you’re forcing them]

Doucement rék, att di douze mois rék

[Take it easy, a year is only twelve months long]

Tristel kanam, yeungueul guén takhoul mousse ma lékk

[Make that sad face, shaking the cat’s tail doesn’t make him eat]

Dou wakh diou nékh, dou yéré you chér

[No sweet talk, no expensive clothes]

Khoulo saga dagal mér

[Arguments, cursing, madness]

Songo kekh toth boutel

[Fighting, breaking bottles]

Iran-Irak deuk thi guerre

[Always war in Iran and Iraq]

Lii moye ban love, kan soof

[What kind of love is that? For who?]

Lan thiof, mi ngui si guéj gui, dagn dof

[What a big fish in this sea? Crazy]

Djiguen so ko beugué da ngay yeureum boot

[If you love your girl, you need to take care of her]

Nen so ko deugué dafay nouroog not

[When you step on that shell, it looks like abuse]

Kourpagn si kanam, dam beugneum

[A punch to her face, broke her tooth]

Djokh ko ñienety dome, garé ko di dag kholam

[Have four kids with her and make her angry]

Def thi salam,

[Make peace]

Djiguen di salane,

[Woman is like a plant]

So ko laloul mom dou dioye bay weet si lalam

[If you don’t touch her, she won’t cry and be alone]

<h3>6. HYBRID</h3>

6. HPrizm:

From a tradition

Watchin’ my fire cookin’ in the kitchen

Watchin’ the kettle steam, the levels bubble over

From a rooftop overlooking the city

The kettle whistles a signal, I get the pen out

Documenting ripples of waves of rage

Became Hannibal, study strategy that’s my anatomy

My mentality gradually shifted from monetary to radical

No imagination, only my real life

Pulse over drums, hope to show what it feels like

To open sealed locks thinking out of a box

Now in this life time

For my G Lifelong

I’m insulated, I made it this way

No hate infiltrated, I came in aimin’ with spraying

With games played

My namesake

How live are you

There’s a revolution, where are you

Walking through fire either scars you or it charges you

How live are you

There’s a revolution, where are you

Walking through fire either scars you or it charges you

Heat rises

Heat rises

6. Gaston Bandimic

Symbiosou mello yi, white house ghetto yi

[Symbiosis of types, White House ghetto]

Demb soubeu mi ngui si tay, fékhél ba bokk si héros yi

[Yesterday and tomorrow are today; make sure you are one of the heroes]

Ndiakhass mélange djoundj la,

[Mix, mixture is the saying]

Guiss lepp si yaw deh dound leu

[Seeing everything in you is a way of life]

Melting pot, mix, métisse

[Melting pot, mix, Métis]

Lepp ibrid leu

[Everything is a hybrid]

Lou djitou sa djoude leu,

[It happened before you were born,]

Koun bi romb na voudou ya

[God’s voodoo]

Boul déss si bountou bi, feug thi marteau bi, fékhel ba bokk sa doug ya

[Don’t stay at the door, knock with a hammer and be one who enters]

Boul sagané li nga né, fouleu gui ana mou

[Don’t diminish who you are, where is dignity]

Mouk bok sa souk ya

[Never be a follower]

Diamono diéguina souk ya

[Slavery is over]

Esclave guen na rouk ya

[Slaves, out of the shadows]

Lepp si bop la, tagat sa khélmi fekhel ba djittou sa fouk ya

[Everything is in your mind, train your brain and be part of the first ten]

<h3>7. DUALISM</h3>

7. HPrizm:

And then a voice said

Find your way

Navigate through the triple stage

Through another stage of development

Add the elements through ritual to chisel with skill

So, let’s build

Third, open up to reveal what’s less real

67 million away that’s light years

I was raised up in Egypt, it’s over here

That’s why Isis greet me with open wings

Until the day the ancestors greet me with open arms

Scattered ash, empty cigars on park benches

Stared at my reflection in project elevator mirrors

So when you hear me you’re hearing the spirit

Uninhabited, the game was haunted

They put hexes and spells on it

Me being a master of ceremony

Performing in cyphers I decipher with writin’ to help brighten

Lines like to cross in a planetary alignment

Line like I’m fresh out of solitary confinement

The truth is

The booth is

No place for excuses

No ceilings over me

Roofless

Over triple beams

I’m weightless

From a dream

And then a voice said

Wake up

Find your way

Navigation through the triple stages

7. Gaston Bandimic:

Djibrila ngui Malakott di fikra thi khalam gui

[Djibril is at Malakott meditating on his character]

Di eurtou diam yi, nguir safane bagn len tabal si mballam gui

[Warning Allah’s servants to protect them against Evil]

Kaddoug Noor la takhawé dikal tabbal si galam bi

[Using Noor’s words to come join his boat]

Sama bop la djogué di djekh sama bop, far fékk sama bop thi sama bop

[I left myself looking within, and I found myself in within]

Sama bop la djoguer di djekh sama bop, far fekk sama bop thi sama bop

[I left myself looking within, and I found myself in within]

Sama khél dafa toukeyy, djieum diay naw, Borom Darou ladi wo, la illaha illala a a a

[I was wandering, flying like a bird, I am calling you Borom Darou, La illaha illala aaa]

Sama khél dafa toukeyy, djieum diay naw, Borom Darou ladi wo, la illaha illala a a a

[I was wandering, flying like a bird, I am calling you Borom Darou, La illaha illala aaa]

<h3>8. GEMINOU</h3>

8. Gaston Bandimic:

Yo

[Yo]

Gnata att yéna ngui si guéj gui di ko diéma lakh

[How long you’ve been in the sea trying to make it cream]

Singali embuscade di sani khér téréwoul manifi fakh

[Placing an ambush, hating on me, but I ‘m still standing]

Rap gueuneu fi di rah, saab gueuneu withiakh

[Rap is still on, voices will still rise]

Mbotayou fass you mabb yéna ngui beurti beurti, bouki beutou bandit sakh thi thiéné wakh

[The flock of horses is racing, the hyena, evil eye, is talking]

Dama ayy bamou eupp, bone khol yi fokk gnou sissou

[I am too good at this, the haters will hate]

Sen baye bouné thieup, sen khélou yemay rissou

[When I am in there, I feel your dirty looks on me]

Li ngay diaye dina neup, mbokkou talibé dou fissou

[What you are selling is going to waste, brother don’t be a follower]

Änd dokh si Yallala

[Walking together is His will]

Souffé ni batou

[Low like]

Sougnouy laaf séni kharfa mounouko khouffa

[You can do anything to hurt us]

Souffa dougnou fa oufa

[We’re not taking ourselves down]

Touffa dougnou ko toppé douffa

[Size doesn’t matter]

Guët sou metey deskoy touffeu

[When eyes hurt they need water]

Nappkatou diane bé ngui djéma galgal niaye bi

[The snake hunter is trying to catch the elephant]

Seud beuga kharou, guénn guedj djoubali niayes bi

[The barracuda fish wants suicide, leaving the sea for the forest]

Nda li nga naan demb, tey ya fi dionkon sawfa poup fa

[Where you used to get water, you are making human waste]

Gueweul bou rep si kharé la

[I don’t care about anything anymore]

Si batou ndaré la

[It’s only a knife on a chicken’s throat]

Bo dougaler sa tank si gemiñou yew li la war paré la

[When you step in the mouth of an anaconda, you better be ready]

<h3>9. BAMBA</h3>

9. Gaston Bandimic:

Bambaay Djante dieufdieul di thiant

[Bamba is light and every good deed will come back to you]

Sikeur ba khaala djogue len ñou tant

[Dhikr will take you to another dimension, let’s all gather together]

Ndigueul la ñouye dieufer sokhlayoul guant

[We follow orders, no need to say no]

Djog len, djog len

[Get up, get up]

Tôloub Yalla bey guen gui mbay

[It’s better to harvest His field]

Nikhma nikhma Ridialoulay

[The approach, the way that leads to Him]

Toolou way moy Cheikh’Ra Fall

[Cheikh Ibra Fall is the highest order]

Sikouroula nakaYalla dégg

[May He hear the dhikr]

Music de l’ame mom lañou beug

[We like music of the soul]

Mbekté thi rouh moy Aldiana deug

[Heaven is happiness in the soul]

Aldiana Cheikh’Ra Fall, Cheikh’Ra Fall

[Heaven is Cheikh Ibra Fall, Cheikh Ibra Fall]

Bambaay Djante dieufdieul di thiant

[Bamba is light and every good deed will come back to you]

Sikeur ba khaala djogue len ñou tant

[Dhikr will take you to another dimension, let’s all gather together]

Ndigueul la ñouye dieufer sokhlayoul guant

[We follow orders, no need to say no]

Djog len, djog len

[Get up, get up]

Tôloub Yalla bey guen gui mbay

[It’s better to harvest His field]

Nikhma nikhma Ridialoulay

[The approach, the way that leads to Him]

Toolou way moy Cheikh’Ra Fall

[Cheikh Ibra Fall is the highest order]

Sikouroula nakaYalla dégg

[May He hear the dhikr]

Music de l’ame mom lañou beug

[We like music of the soul]

Mbekté thi rouh moy Aldiana deug

[Heaven is happiness in the soul]

Aldiana Cheikh’Ra Fall, Cheikh’Ra Fall

[Heaven is Cheikh Ibra Fall, Cheikh Ibra Fall]

Goor Yalla dokhla lamb rek dadj

[When you work for God you can achieve everything]

Dokh makkama khél mi ney math

[The greatness of walking, thinking right]

Dou ken momla kou wédi ladj khath

[It’s nobody but Him, if you don’t believe ask the dog]

Houa houa

[Just God]

Fouk ak béne per def tath

[Eleven beads make noise]

Nangou ko dieuffé ko rek dey fath

[Accepting it, acting like it, that alone can heal]

Kou wédi baat bi, reek kadj

[If you don’t believe the word, you lie]

Djamber gnou kill dekilat gnou

[Djamber killed us and brought us back to life]

Djakk di feel, goumba ladj gnou

[Facing straight, the blind ask us]

Ndiathiar dou beut khol ba la gnou

[Sighted is not the eyes, but seeing]

Djambey borom Darou borom leer

[Djamber borom darou, He is the light]

Goor Yalla dokhla lamb rek dadj

[When you work for God you can achieve everything]

Dokh makkama khél mi ney math

[The greatness of walking, thinking right]

Dou ken momla kou wédi ladj khath

[It’s nobody but Him, if you don’t believe ask the dog]

Houa houa

[Just God]

Fouk ak béne per def tath

[Eleven beads make noise]

Nangou ko dieuffé ko rek dey fath

[Accepting it, acting like it, that alone can heal]

Kou wédi baat bi, reek kadj

[If you don’t believe the word, you lie]

Djamber gnou kill dekilat gnou

[Djamber killed us and brought us back to life]

Djakk di feel, goumba ladj gnou

[Facing straight, the blind ask us]

Ndiathiar dou beut khol ba la gnou

[Sighted is not the eyes, but seeing]

Djambey borom Darou borom leer

[Djamber borom darou, He is the light]